{% load static %}
	<header>
		<div class="header_contenedor">
			<!-- Hijo 1 -->
			<a href="{% url 'web:home' %}">
				<img class="imagen-header" src="{% static 'css/img/logo-hans.png' %}"  height="75px">
			</a>
			<!-- Hijo 2 -->
			<div class="menu-wrapper">
				<ul id="menu-header">
					<a href="{% url 'productos:listado' %}">
						<li class="item-menu-header head-producto" id="">Productos</li>
					</a>
					{% if request.user.is_authenticated %}
						{% if request.user.is_staff %}
							<li class="item-menu-header head-mi_carrito" id="">Administrador</li>
							
						{% else %}
							<a href="{% url 'pedidos:mi_carrito' %}">
							<li class="item-menu-header head-mi_carrito" id="">Mi Carrito</li>
						</a>
						{% endif %}
					{% endif %}
					{% if request.user.is_authenticated %}
						<a href="{% url 'usuarios:user_logout' %}">
							<li class="item-menu-header" style="color:tomato">Salir</li>
						</a>
					{% else %}
						<a href="{% url 'usuarios:crear_cuenta' %}">
							<li class="item-menu-header head-crear_cuenta">Crear Cuenta</li>
						</a>
					{% endif %}

					{% if not request.user.is_authenticated %}
					<a href="{% url 'usuarios:login' %}">
						<li class="item-menu-header head-login" id="">Login</li>
					</a>
					{% endif %}

				</ul>
			</div>
			<div>
			</div>
		</div>
	</header>
