{% load static %}
	<header>
		<div class="header_contenedor">
			<!-- Hijo 1 -->
			<img class="imagen-header" src="{% static 'css/img/logo-hans.png' %}"  height="75px">
			<!-- Hijo 2 -->
			<div class="menu-wrapper">
				<ul id="menu-header">
					<li class="item-menu-header">Productos</li>
					<li class="item-menu-header">Mi Carrito</li>
					<input class="buscador" type="search" 
					placeholder="Buscar Producto">
					<svg class="icon icon-search" height="10px">
					<use xlink:href="#icon-search"></use></svg>
				</ul>
			</div>
			<div>
			</div>
		</div>
	</header>
