<!DOCTYPE html>
<html>
<head>
	<title> Crehana | Home</title>
	<link rel="stylesheet" type="text/css" href="css/s1.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<!-- fonts -->
		<link href="https://fonts.googleapis.com/css?family=Ropa+Sans" rel="stylesheet">
		<link rel="stylesheet" href="https://i.icomoon.io/public/temp/1013ff8fbd/UntitledProject/style-svg.css">
		<script defer src="https://i.icomoon.io/public/temp/1013ff8fbd/UntitledProject/svgxuse.js">
		</script>
	<!-- endfornts -->

	<!-- Slider -->
	<link rel="stylesheet" type="text/css" href="css/jquery.bxslider.css">
	<!-- endSlider -->

	<!-- jquery -->
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>

	<!-- endjquery -->

	<!-- bootstrap -->
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<!-- end bootstrap-->
	<link rel="stylesheet" href="https://i.icomoon.io/public/temp/1013ff8fbd/UntitledProject/style-svg.css">
	<script defer src="https://i.icomoon.io/public/temp/1013ff8fbd/UntitledProject/svgxuse.js">
	</script>
</head>
<body>
	<header>
		<div class="header_contenedor">
			<!-- Hijo 1 -->
			<img class="imagen-header" src="../img/logo-hans.png"  height="75px">
			<!-- Hijo 2 -->
			<div class="menu-wrapper">
				<ul id="menu-header">
					<li class="item-menu-header">Productos</li>
					<li class="item-menu-header">Mi Carrito</li>
					<input class="buscador" type="search" 
					placeholder="Buscar Producto">
					<svg class="icon icon-search" height="10px">
					<use xlink:href="#icon-search"></use></svg>
				</ul>
			</div>
			<div>
			</div>
		</div>
	</header>


</body>
<script type="text/javascript" src="css/js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="css/js/mediaelement/mediaelement.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$(".slider_mas_buscados").bxSlider({
			auto:true,
			pager:false,
			minSlides: 3,
			maxSlides: 3,
			slideWidth: 200,
			slideMargin: 10,
			moveSlides: 3,
			mode:'horizontal'
		});
	});

</script>
</html>