{% extends "common/_base.html" %}
{% load static %}


{% block content %}

	<section class="bloque_items_categorias">
		<div class="listado__categorias">
			<ul class="ul_categorias">
				<li class="item_categoria titulo_categoria">Categorias</li>
				{% for categoria in categorias %}
					<a href="{% url 'productos:curso_select' categoria.slug %}">
						<li class="item_categoria" {% if categoria.nombre == categoria_selected.nombre %} style='text-decoration:underline' {% endif %}>{{categoria.nombre}}</li>
					</a>
				{% endfor %}
			</ul>
		</div>
		<div class="listado__productos">
			<div class="productos">
				{% for curso in cursos %}
				<div class="caja_producto">
					<img  src="{{curso.img_curso.url}}" width="200px" height="200px">
					<div class="titulo_producto">
						<span>{{curso.nombre}}</span>
					</div>
					<div class="precio_producto">
						<span>S/ {{curso.precio}} </span>
					</div>
					{% if curso.id in list_id_items %}
						<button type="submit" disblad="disabled" class="button -tomato center" data-product="{{ curso.id }}"> Curso ya agregado </button>
					{% else %}
						<button class="button -green center anadir-carrito" data-product="{{ curso.id }}"> Agregar al carrito </button>
					{% endif %}
				</div>
				{% endfor %}
				<form action="{% url 'pedidos:add_to_cart' %}" method="POST" id="add-to-cart-form">
					{% csrf_token %}
				<input type="hidden" name="quantity" value="1" class="quantity" id="quantity">
				<input type="hidden" name="product_id" id="id_curso">
				</form>
			</div>
		</div>

	</section>
{% endblock %}

{% block js_content %}
<script type="text/javascript">
	$(document).ready(function(){
		$(".anadir-carrito").on('click', function(event) {
			event.preventDefault();
			id_curso = $(this).attr('data-product')
			console.log(id_curso, 'DATO');
			$('#id_curso').val(id_curso)
			$('#add-to-cart-form').submit();
		});
});
</script>
{% endblock %}