{% extends 'common/_base.html' %}

{% block content %}
	<section class="mas_buscados">
		<div class="container_css mas_buscados__bloque">
			<h2 class="titulo_home"> Los más buscados </h2>
			<div class="items_productos slider_mas_buscados">
				{% for curso in cursos %}
					<div class="caja_producto">
						<img src="{{curso.img_curso.url}}">
						<div class="titulo_producto">
							<span>{{curso.nombre}}</span>
						</div>
						<div class="precio_producto">
							<span>S/ {{curso.precio}} </span>
						</div>
						<!-- Valida si ya existe el curso en el carrito del usuario -->
						{% if curso.id in list_id_items %}
							<button type="submit" disblad="disabled" class="button -tomato center" data-product="{{ curso.id }}"> Curso ya agregado </button>
						{% else %}
							<button type="submit" class="button -green center anadir-carrito" data-product="{{ curso.id }}"> Agregar al carrito </button>
						{% endif %}
					</div>

				{% endfor %}
					<form action="{% url 'pedidos:add_to_cart' %}" method="POST" id="add-to-cart-form">
						{% csrf_token %}
					<input type="hidden" name="quantity" value="1" class="quantity" id="quantity">
					<input type="hidden" name="product_id" id="id_curso">
					</form>
			</div>
		</div>
	</section>
{% endblock %}


{% block js_content %}
<script type="text/javascript">
	$(document).ready(function(){
		$(".slider_mas_buscados").bxSlider({
			auto:true,
			pager:false,
			minSlides: 3,
			maxSlides: 3,
			slideWidth: 200,
			slideMargin: 10,
			moveSlides: 3,
			mode:'horizontal'
		});
	});
		$(".anadir-carrito").on('click', function(event) {
			console.log("click al boton")
			event.preventDefault();
			id_curso = $(this).attr('data-product')
			console.log(id_curso, 'DATO');
			$('#id_curso').val(id_curso)
			$('#add-to-cart-form').submit();
		});

</script>
{% endblock %}