{% extends "common/_base.html" %}
{% load static %}

{% block head %}
{% endblock head %}
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

{% block content %}
	{% if error %}
	<div class="alert alert-danger" style="text-align:center">
		<strong> ¡ Ups ! </strong> El correo ya existe
	</div>

{% endif %}
	<section class="mas_buscados bloque-crear-cuenta">
		<div class="mas_buscados__bloque container_css_registro">
			<span class="titulo_home"> Se parte de esta<span style="color:#8e44ad"> historia :)</span> </span>
			<form class="form-horizontal form-create" id="identicalForm"  method="POST" action=".">
				{% csrf_token %}
				<div class="form-group">
					<label class="control-label col-md-4"> Email: </label>
						<div class="col-md-8">
							<input  class="form-control validate[required]" id="email" name="email" placeholder="Email" type="email">
						</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-4"> Password: </label>
						<div class="col-md-8">
							<input id="pass" class="form-control validate[required]" name="password" placeholder="Password" type="password">
						</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-4"> Repita Password: </label>
						<div class="col-md-8">
							<input id="cpass" type="password" class="form-control validate[required,equals[password]]" name="password"  placeholder="Confirm Password" >
						</div>
				</div>
				<div class="form-group">
					<div class="col-md-2 col-md-offset-4">
						<button class="btn btn-primary login"> Registrarse </button>
					</div>
				</div>

			</form>
		</div>
	</section>
{% endblock %}

{% block js_content %}
<script type="text/javascript" src="{% static 'css/js/jquery.validationEngine-es.js' %}"></script>
<script type="text/javascript" src="{% static 'css/js/jquery.validationEngine.js' %}"></script>

<script type="text/javascript">
$(document).ready(function() {

	$('.login').on('click',function(e){
		e.preventDefault();
		var valor_1 = $('#pass').val()
		var valor_2 = $('#cpass').val()

		if(valor_1 != valor_2){
	        alert('las contraseñas no coinciden');
		}else{

			if($('#email').val()){
				$('.form-create').submit()
			}
			else{
				alert("Ingrese un correo por favor")
			}
		}
	});



});

</script>
{% endblock %}