{% extends "common/_base.html" %}
{% load static %}

{% block head %}

{% endblock head %}


{% block content %}

{% if error %}
<div class="alert alert-danger" style="text-align:center">
	<strong> ¡ Ups ! </strong> El correo no existe o las contraseñas no coinciden
</div>
{% endif %}


<section class="mas_buscados login-container">
	<div class="mas_buscados__bloque container_css_login">
		<span class="titulo_home"> Hora de Hacer Logging </span>
		<form action="." method="POST" class="form-horizontal form-log">
			{% csrf_token %}
			<div class="form-group has-danger">
				<label class="control-label col-md-4"> Email: </label>
					<div class="col-md-8">
						<input class="form-control" name="email" placeholder="Email">
					</div>
			</div>

			<div class="form-group">
				<label class="control-label col-md-4"> Password: </label>
					<div class="col-md-8">
						<input class="form-control" placeholder="password" name="password" type="password">
					</div>
			</div>

			<div class="form-group">
				<div class="col-md-2 col-md-offset-4">
					<button class="btn btn-primary login"> Ingresar </button>
				</div>
			</div>
			<div class="row col-md-12 col-md-offset-2">
				<a href="{% url 'usuarios:crear_cuenta' %}"> <span style="color:black">¿No eres de la familia?, </span> <strong> Unete! </strong></a>
			</div>
		</form>
	</div>
</section>


{% endblock %}

{% block js_content %}

<script type="text/javascript">
$(document).ready(function() {
    $('.login').click(function(e){
        e.preventDefault();
		var valid = $('.form-log').serialize();
		console.log(valid)
		if(valid){
			console.log("SOY VALIDO")
			$('.form-log').submit()
		}
		else{
			alert("error")
		}
        
    })

});



</script>
{% endblock %}

