{% extends "common/_base.html" %}
{% load static %}

{% block head %}
	<!-- bootstrap -->
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<!-- end bootstrap-->

{% endblock head %}

{% block content %}
<section class="mas_buscados">
	<div class="mas_buscados__bloque container_css_login">
		<span class="titulo_home"> Hora de Hacer Logging </span>
		<form action="" class="form-horizontal">
			<div class="form-group has-danger">
				<label class="control-label col-md-4"> Email: </label>
					<div class="col-md-8">
						<input class="form-control" name="email" placeholder="Email">
					</div>
			</div>

			<div class="form-group">
				<label class="control-label col-md-4"> Password: </label>
					<div class="col-md-8">
						<input class="form-control" placeholder="Correo">
					</div>
			</div>

			<div class="form-group">
				<div class="col-md-2 col-md-offset-4">
					<button class="btn btn-primary"> Ingresar </button>
				</div>
			</div>
			<div class="row col-md-12 col-md-offset-2">
				<a href="{% url 'usuarios:crear_cuenta' %}"> <span style="color:black">¿No eres de la familia?, </span> <strong> Unete! </strong></a>
			</div>
		</form>
	</div>
</section>


{% endblock %}

