{% extends "common/_base.html" %}
{% load static %}


{% block content %}
	<section class="mas_buscados">
		<div class="container_css mas_buscados__bloque">
			<div class="container-carrito">
				<div class="borde_superior_gray">
				</div>
				<div class="cart_sup">
					<h2>Mi Carrito de compras</h2>
						<button class="button -green center bt_seguir_comprando"> ¿Seguir comprando? </button>
				</div>
				<div class="borde_superior_gray">
				</div>

				<!-- bloque inferior-->
				<div class="lista_cursos">
					{% for i in items_cursos %}
					{% with item=i.0 curso=i.1 %}
						<div class="curso_seleccionado">
							<div class="bloque_titulo_imagen">
								<div class="img_cart_item">
									<img  class="imagen_cart_item" src="{{curso.img_curso.url}}" width="100px" height="100px">
								</div>

								<div class="descripcion_cart_item">
									<span class="codigo_cart_item">#{{item.codigo}}</span>
									<span class="nombre_cart_item">{{ item.producto }}</span>
									<p class="stock">En STOCK</p>

								</div>
							</div>
							<div class="bloque_precio">
								S/ {{ item.total_price|stringformat:".2f" }}
							</div>
							<div class="bloque_precio">
								<a href="" class="remove" data-product="{{ item.object_id }}"> x </a>
							</div>
						</div>
					{% endwith %}
					{% endfor %}
					<form action="{% url 'pedidos:remove_from_cart' %}" method="POST" id="remove-cart-form">
						{% csrf_token %}
					<input type="hidden" name="product_id" id="id_curso">
					</form>
				</div>
			</div>
			<div class="container_resumen">
				<div class="bloque_interno_resumen">
					<div class="descripcion"> 
						<span>Subtotal:</span>
						<span>Tax:</span>
						<span>Total:</span>
					</div>
					<div class="precios"> 
						<span>S/. {{cart.summary}}</span>
						<span>S/. {{taxi}}</span>
						<span>S/. {{total}}</span>
					</div>
				</div>
				<div class="bloque_boton_pago">
					<form id="form_pago" method="POST" action=".">
						{% csrf_token %}
						<input type="hidden" name="precio_total" value="{{cart.summary}}">
						<button class="button -green center boton_pago"> Pagar </button>
					</form>
				</div>

			</div>
		</div>
	</section>
{% endblock %}

{% block js_content %}
<script type="text/javascript">
$(document).ready(function(){
	$('.remove').on('click', function(e){
		e.preventDefault()
			id_curso = $(this).attr('data-product')
			console.log(id_curso, 'DATO');
			$('#id_curso').val(id_curso)
			$('#remove-cart-form').submit();
	})
	$('.bt_seguir_comprando').on('click', function(e){
		e.preventDefault();
		window.location.href = "{% url 'productos:listado' %}"
	})

	$('.boton_pago').on('click', function(e){
		e.preventDefault();
		$('#form_pago').submit();
	})
})

</script>
{% endblock %}